.climeight__footer {
    display: inline-block;
    position: absolute;
    width: 100%;
    vertical-align: middle;
    bottom: 0px;
}

svg {
    display: inline-block;
    position: absolute;
    bottom: 0;
  }

.climeight__footer img {
    width: 100%;
}