.climeight__home-section__container {
  display: flex;
  flex: 1 1 auto;
}

.climeight__home-section {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 20;
}

.climeight__home-section .climeight__home-section__mockup {
  position: absolute;
  right: 5%;
  width: 35%;
  top: -22%;
}

.climeight__home-section .climeight__home-section__mockup-smoke {
  position: absolute;
  right: 5%;
  width: 35%;
  top: 25%;

  animation: animateSmoke 1.5s infinite ease-in-out;
}

.climeight__home-section .climeight__home-section__title {
  flex: 0 0 auto;
  width: 100%;
  position: relative;
  margin: auto 0;
}

.climeight__home-section .climeight__home-section__title .climeight__home-section__upper-title {
  align-items: center;
  display: flex;
  justify-content: space-between;

  max-width: 715px;
}

.climeight__home-section .climeight__home-section__title .climeight__home-section__upper-title p{
  font-size: 14px;
}

.climeight__home-section .climeight__home-section__title p {
  font-family: "Monument Extended";
  max-width: 890px;
  font-size: 64px;

  background: linear-gradient(90deg, #2B403F 0%, #000000 24.23%, #000000 46.98%, #2F4777 71.59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.climeight__home-section .climeight__home-section__description {
  display: block;
  font-size: 24px;
  max-width: 890px;

  padding-bottom: 25px;
}

.climeight__home-section__row {
  display: flex;
}
.climeight__home-section .climeight__home-section__vendor-store-holder {
  margin-top: 24px;
  max-width: 540px;
}

@keyframes animateSmoke {
  0%,
  100% {
    transform: translate(-5px, -5px);
  }

  50% {
      transform: translate(15px, 15px);
  }
}